scss/
Archive/

#allow
!node_modules/
node_modules/*

!node_modules/normalize-scss/
!node_modules/@fortawesome/


node_modules/normalize-scss/*
node_modules/@fortawesome/*

!/node_modules/normalize-scss/sass/
!/node_modules/@fortawesome/fontawesome-free/

/node_modules/normalize-scss/sass/normalize/*
/node_modules/@fortawesome/fontawesome-free/*


!/node_modules/@fortawesome/fontawesome-free/css/
/node_modules/@fortawesome/fontawesome-free/css/*
!/node_modules/@fortawesome/fontawesome-free/css/all
#ignore  

